@charset "utf-8";
/* CSS Document */

body{
	background-color: #E4E4E4 !important;
}

.container{
	background-color: white !important;
	border-radius: 7px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}
.col-md-4{
	align-self: center !important;
}
.card{
	background-color: olive !important;
}
.row.g-0{
	background-color: white !important;
}
